* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    color: #1f1f1f;
    width: 50%;
    gap: 4px;

    padding: 12px 0 12px 0;
    border-top: 1px solid #e3e1e1;
    border-bottom: 1px solid #e3e1e1;
}

.buttons {
    gap: 25px;
}

.buttonNum {
    background: #F1F3F4;
    color: #1f1f1f;
    border: 1px solid transparent;
    width: 20px;
    border-radius: 2px;

}

.buttonSmall {
    background: #DADCE0;
    color: #1f1f1f;
    border: 1px solid transparent;
    width: 20px;
    border-radius: 2px;
    margin-top: 4px;
}

p {
    color: #EA8DFD;

}

.result {
    width: auto;
    min-width: 40px;
    height: 40px;
    border: 1px solid transparent;
    margin: 8px;
    border-radius: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3e1e1;
    padding: 2px;
}

.ac {
    background: #4285F4;
    color: #FFF;
}

input {
    width: 180px;
    border: 1px solid #b4b3b3;
}